.app {
  background-color: $bg-color;

  &__title {
    text-align: center;
  }

  &__inner {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: $bg-wrapper;
  }

  &__bomb {
    height: 40px;
    width: 40px;
  }
}

.board {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  border-color: $white $grey $grey $white;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: $bg-wrapper;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;

  &:hover {
    background-color: $bg-bomb-hover;
  }

  &.open {
    background-image: url(./assets/bomb.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80% 80%;
  }

  &.flag {
    background-image: url(./assets/flag.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80% 80%;
  }

  &.open.checked {
    border: 0;
    background-color: red;

  }

  &.checked {
    border: 1px solid;
    border-color: $white $grey $grey $white;
    background-color: $bg-color;
  }

  &.one {
    color: blue;
  }

  &.two {
    color: green;
  }

  &.three {
    color: red;
  }

  &.four {
    color: #00007B;
  }
}

.border {
  border: 6px solid;
  border-color: $white $grey $grey $white;
  box-sizing: border-box;
}