.app {
  background-color: $bg-color;

  &__title {
    text-align: center;
  }

  &__inner {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: $bg-wrapper;
  }

  &__bomb {
    height: 40px;
    width: 40px;
  }
}

.board {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  border-color: #FFFFFF #757475 #757475 #FFFFFF;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: $bg-wrapper;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;

  &:hover {
    background-color: $bg-bomb-hover;
  }

  &.open.checked {
    // border: 1px solid #757475;
    // width: 38px;
    // height: 38px;
    background-color: red;
  }

  &.checked {
    border: 1px solid;
    border-color: #FFFFFF #757475 #757475 #FFFFFF;
    background-color: $bg-color;
  }

  &.one {
    color: blue;
  }

  &.two {
    color: green;
  }

  &.three {
    color: red;
  }

  &.four {
    color: #00007B;
  }
}

.border {
  border: 6px solid;
  border-color: #FFFFFF #757475 #757475 #FFFFFF;
  box-sizing: border-box;
}