.about {
    background: $whiteColor;

    // .about__container

    &__container {
        display: flex;
        justify-content: flex-end;

        padding-top: 5rem;
        padding-bottom: 6.25rem;

        background: url('@img/desktop/about-pets.jpg') no-repeat calc(25% - 30px) calc(50% - 10px);

        @media (max-width:$tablet) {
            flex-direction: column;
            align-items: center;

            padding-top: 65px;
            padding-bottom: 575px;

            background-position: 50% calc(100% - 100px);
        }

        @media (max-width:$mobile) {
            padding-top: 27px;
            padding-bottom: 422px;

            text-align: justify;

            background-position: 50% calc(100% - 42px);
            background-size: 260px 353.6px;
        }

        @media (max-width:$mobileSmall) {
            max-width: 270px;
        }
    }

    // .about__inner

    &__wrapper {
        width: 50%;

        @media (max-width:$tablet) {
            width: 60%;
        }

        @media (max-width:$mobile) {
            width: 100%;
        }
    }

    // .about__title

    &__title {
        max-width: 23.125rem;
        margin-top: .9375rem;
        margin-bottom: 1.5625rem;

        @media (max-width:$mobile) {
            font-size: 25px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 0.06em;

            max-width: 100%;
        }
    }

    // .about__text

    &__text {
        font-family: $arialFontFamily;
        font-size: .9375rem;
        line-height: 1.5rem;
        color: $textColor;

        max-width: 26.875rem;
        margin-bottom: 1.5625rem;

        @media (max-width:$mobile) {
            max-width: 28.75rem;
            margin: 0px auto 22px auto;
        }

        &:last-child {
            margin: 0px 0px 15px 0px;

            @media (max-width:$mobile) {
                margin: 0px auto 15px auto;
            }

        }
    }
}