.donation {
    background: $bgColorGrey;

    // .donation__container

    &__container {
        display: flex;
        justify-content: flex-end;

        padding-top: 5rem;
        padding-bottom: 6.25rem;

        background: url('@img/desktop/donation-dog.jpg') no-repeat calc(25% - 10px) calc(50% - 10px);

        @media (max-width:$tablet) {
            justify-content: center;

            padding-bottom: 420px;

            background-position: 50% calc(100% - 100px);
        }

        @media (max-width:$mobile) {
            padding-top: 42px;
            padding-bottom: 220px;

            background-size: 260px 135.2px;
            background-position: 50% calc(100% - 42px);
        }
    }

    // .donation__inner

    &__wrapper {
        width: 45%;
        padding-left: 20px;

        @media (max-width:$tablet) {
            width: 54%;
            padding-left: 0;
        }

        @media (max-width:$mobile) {
            width: 100%;
        }
    }

    // .donation__title

    &__title {
        max-width: 18.75rem;
        margin-bottom: 1.25rem;

        @media (max-width:$mobile) {
            max-width: 225px;
            margin: 0 auto;
            margin-bottom: 24px;
            text-align: center;
        }
    }

    // .donation__text

    &__text {
        font-size: .9375rem;
        line-height: 1.0625rem;
        letter-spacing: 0.06em;
        color: $titleColor;

        margin-bottom: 1.25rem;

        @media (max-width:$mobile) {
            letter-spacing: 0;
            text-align: center;

            margin-bottom: 22px;
        }
    }

    // .donation__credit-card

    &__credit-card {
        font-size: 1.25rem;
        line-height: 1.4375rem;
        letter-spacing: 0.06em;
        color: $titleColor;

        max-width: 21.875rem;
        width: 100%;
        padding: 10px 15px;
        background: $primaryColor;
        border-radius: 9px;

        margin-bottom: 1.25rem;

        & a {
            display: flex;

            transition: color 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: $buttonColor;
                }
            }
        }

        & svg {
            margin-right: 15px;
        }

        @media (max-width:$mobile) {
            font-size: 15px;

            margin: 0 auto 20px auto;
            padding: 10px 14px;
        }
    }

    // .donation__info

    &__info {
        font-family: $arialFontFamily;
        font-style: italic;
        font-size: .75rem;
        line-height: 1.125rem;
        color: $infoColor;

        max-width: 23.75rem;

        @media (max-width:$mobile) {
            margin: 0 auto;
            text-align: justify;
        }
    }
}

.title {}