.friends {
    background: $bgColorGrey;

    // .friends__container

    &__container {
        padding-top: 5rem;
        padding-bottom: 6.25rem;

        @media (max-width:$tablet) {
            padding-bottom: 76px;
        }

        @media (max-width:$mobile) {
            padding: 42px 0;
        }
    }

    // .friends__title

    &__title {
        max-width: 25rem;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 3.75rem;

        @media (max-width:$tablet) {
            margin-bottom: 30px;
        }

        @media (max-width:$mobile) {
            font-size: 25px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 0.06em;

            margin-bottom: 42px;
        }
    }

    // .friends__catalog

    &__catalog {
        display: flex;
        flex-wrap: wrap;
        gap: 30px 40px;

        margin-bottom: 60px;

        @media (max-width:$tablet) {
            justify-content: center;

            margin-bottom: 40px;
        }
    }

    // .friends__pets

    &__pets {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: $bgColorSlide;
        border-radius: 9px;
        overflow: hidden;

        transition: background-color 0.3s ease, box-shadow 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                background-color: $whiteColor;
                box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

                & .button {
                    background-color: $primaryColorHover;
                    border: 2px solid $primaryColorHover;
                }
            }
        }

        @media (max-width:$tablet) {

            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9) {
                display: none;
            }
        }

        @media (max-width:$mobile) {

            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                display: none;
            }
        }
    }

    // .friends__img

    &__img {}

    // .friends__name

    &__name {
        text-align: center;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #545454;
        text-transform: capitalize;

        margin-top: 1.875rem;
    }

    // .friends__button

    &__button {
        display: block;
        margin: 1.875rem auto;
    }
}

.title {}

.button {}

.button--outline {}