.friends {
    background: $bgColorGrey;

    // .friends__container

    &__container {
        padding-top: 5rem;
        padding-bottom: 6.25rem;
    }

    // .friends__title

    &__title {
        max-width: 25rem;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 3.75rem;
    }

    // .friends__catalog

    &__catalog {
        display: flex;
        flex-wrap: wrap;
        gap: 30px 40px;

        margin-bottom: 60px;
    }

    // .friends__pets

    &__pets {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: $bgColorSlide;
        border-radius: 9px;
        overflow: hidden;

        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

                & .button {
                    background-color: $primaryColorHover;
                    border: 2px solid $primaryColorHover;
                }
            }
        }
    }

    // .friends__img

    &__img {}

    // .friends__name

    &__name {
        text-align: center;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #545454;
        text-transform: capitalize;

        margin-top: 1.875rem;
    }

    // .friends__button

    &__button {
        display: block;
        margin: 1.875rem auto;
    }
}

.title {}

.button {}

.button--outline {}