.logo {

    // .logo__title

    &__title {
        font-family: $georgiaFontFamily;
        font-size: 2rem;
        line-height: 2.1875rem;
        letter-spacing: 0.06em;
        color: $primaryColor;
    }

    // .logo__subtitle

    &__subtitle {
        font-family: $arialFontFamily;
        font-size: .8125rem;
        line-height: .9375rem;
        letter-spacing: 0.1em;
        color: $whiteColor;
        text-align: right;
        margin-top: .625rem;
    }
}