.not-only {
    // .not-only__container

    &__container {
        background: url('@img/desktop/puppy.png') no-repeat calc(50% + 250px) 100%;

        padding-top: 14.0625rem;
        padding-bottom: 240px;

        @media (max-width:$tablet) {
            background-size: 569px 593px;
            background-position: calc(100% - 30px) 100%;

            padding-top: 30px;
            padding-bottom: 693px;
        }
    }

    // .not-only__wrapper

    &__wrapper {
        @media (max-width:$tablet) {
            width: 28.75rem;
            margin: 0 auto;
        }
    }

    // .not-only__title

    &__title {
        font-family: $georgiaFontFamily;
        font-size: 2.75rem;
        line-height: 3.5625rem;
        color: $whiteColor;

        max-width: 19.375rem;
    }

    // .not-only__text

    &__text {
        font-family: $arialFontFamily;
        font-size: .9375rem;
        line-height: 1.5rem;
        color: $greyColor;

        margin: 40px 0;

        max-width: 28.75rem;
    }

    // .not-only__button

    &__button {
        display: block;
        width: 208px;
        padding: 17px 45px;

        @media (max-width:$tablet) {
            margin: 0 auto;
        }
    }
}