.our-friends {
    background: $bgColorGrey;

    // .our-friends__container

    &__container {
        padding-top: 5rem;
        padding-bottom: 6.25rem;

        @media (max-width:$mobile) {
            padding-top: 42px;
            padding-bottom: 42px;
        }
    }

    // .our-friends__title

    &__title {
        text-align: center;
        max-width: 25rem;
        margin: 0 auto;

        @media (max-width:$mobileSmall) {
            width: 286px;
        }
    }

    // .our-friends__slider

    &__slider {}

    // .our-friends__button

    &__button {
        max-width: 262px;
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 15px 2.8125rem;
    }
}