.pagging {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 0 20px;

	@media (max-width:$mobile) {
		gap: 0 10px;
	}

	// .pagging__arrow

	&__arrow {

		font-family: $georgiaFontFamily;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.06em;

		color: $buttonColor;

		display: flex;
		justify-content: center;
		align-items: center;
		width: 52px;
		height: 52px;
		border: 2px solid $primaryColor;
		border-radius: 50%;

		transition: border 0.3s ease, background 0.3s ease;

		@media (any-hover: hover) {

			&:not([disabled]):hover {
				border: 2px solid $primaryColorHover;
				background: $primaryColorHover;
			}

			// &:hover {
			// 	border: 2px solid $primaryColorHover;
			// 	background: $primaryColorHover;
			// }
		}

		&._active {
			cursor: default;
			border: 2px solid $primaryColor;
			background: $primaryColor;
		}

		&:disabled {
			cursor: default;
			background: transparent;
			border: 2px solid $greyColor;
			color: $greyColor;
		}
	}


	// .pagging__list

	&__list {
		display: flex;

		li {}
	}

	// .pagging__item

	&__item {
		font-family: $georgiaFontFamily;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.06em;

		color: $buttonColor;

		display: flex;
		justify-content: center;
		align-items: center;
		width: 52px;
		height: 52px;
		border: 2px solid $primaryColor;
		border-radius: 50%;

		transition: border 0.3s ease, background 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				border: 2px solid $primaryColorHover;
				background: $primaryColorHover;
			}
		}

		&._active {
			cursor: default;
			border: 2px solid $primaryColor;
			background: $primaryColor;
		}

		&._disable {
			cursor: default;
			background: transparent;
			border: 2px solid $greyColor;
			color: $greyColor;

			@media (any-hover: hover) {
				&:hover {
					background: transparent;
				}
			}
		}
	}
}