.slider {
    position: relative;

    margin-top: 3.75rem;
    margin-bottom: 60px;

    @media (max-width:$mobile) {
        margin: 42px 0;
    }

    // .slider__wrapper

    &__wrapper {
        position: relative;
        z-index: 2;

        display: flex;
        justify-content: flex-start;

        column-gap: 90px;

        max-width: 61.875rem;
        margin: 0 auto;

        overflow: hidden;

        @media (max-width: em(1179)) {
            max-width: 890px;
            column-gap: 40px;
        }

    }

    // .slider__slide

    &__slide {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: $bgColorSlide;
        border-radius: 9px;

        // overflow: hidden;

        transition: background-color 0.3s ease, box-shadow 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                cursor: pointer;
                background-color: $whiteColor;
                box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

                & .button {
                    background-color: $primaryColorHover;
                    border: 2px solid $primaryColorHover;
                }
            }
        }

        // @media (max-width:$tablet) {
        //     &:nth-child(3) {
        //         display: none;
        //     }
        // }

        // @media (max-width:$mobile) {
        //     &:nth-child(2) {
        //         display: none;
        //     }
        // }
    }


    // .slider__img

    &__img {}

    // .slider__name

    &__name {
        text-align: center;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #545454;
        text-transform: capitalize;

        margin-top: 1.875rem;
    }

    // .slider__nav

    &__nav {
        position: absolute;
        top: calc(50% - 26px);

        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media (max-width: em(1076)) {
            position: relative;
            margin-top: 20px;

            justify-content: space-around;
        }

    }

    // .slider__nav-button

    &__nav-button {
        width: 52px;
        height: 52px;

        border: 2px solid $primaryColor;
        border-radius: 50%;

        transition: background-color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                cursor: pointer;
                border: 2px solid $primaryColorHover;
                background-color: $primaryColorHover;
            }
        }
    }

    &__nav-button--prev,
    &__nav-button--next {
        background: url('@img/icons/slider-arrow.svg') no-repeat 50% 50% / 14px 6px;
    }

    // .slider__nav--prev

    &__nav-button--prev {}

    // .slider__nav--next

    &__nav-button--next {
        transform: rotate(180deg);
    }

    // .slider__button

    &__button {
        display: block;
        margin: 1.875rem auto;
    }
}