.table {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  max-width: 500px;

  &__title {
    background-color: black;
    color: buttonface;
  }

  &__cell {
    display: flex;
    align-items: center;
    max-width: 75px;
    flex-basis: 75px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 4px 8px;

    &--large {
      max-width: calc(500px - 75px * 3);
      flex-basis: calc(500px - 75px * 3);
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  &__car {
    margin-right: 5px;

    & svg {
      height: 18px;
      width: 35px;
    }
  }

  &__sort {
    cursor: pointer;
  }

}