@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #794f45;
}

button {
  text-transform: capitalize;
  padding: 5px 15px;
}

button:hover {
  cursor: pointer;
}

input[type="text"] {
  max-width: 170px;
  padding: 5px 15px;
}

input[type="color"] {
  height: 33px;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.hidden {
  display: none;
}