.game {
  display: flex;
  justify-content: space-between;
  padding: 0 0 30px 0;

  &__table {
    height: 30vh;
    width: 81%;
    background: rgba(0, 0, 0, 0.3);
    border: solid 10px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    padding: 0 15px;
  }

  &__title {
    color: rgba(255, 255, 255, .3);
    font-size: 45px;
    margin: 0;
    font-weight: 400;
    text-align: center;
    padding: 20px 30px;
  }

  &__level {
    width: 10%;
    height: 30vh;
    background: rgba(0, 0, 0, 0.3);
    border: solid 10px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    padding: 0 15px;
  }
}

.level {
  &__title {
    margin-bottom: 10px;
  }

  &__name {
    display: flex;
    line-height: 1.4;
    cursor: pointer;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }

    &.active {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &__checkmark {
    content: url('../../../assets/checkmark.svg');
    filter: invert(43%) sepia(10%) saturate(171%) hue-rotate(355deg) brightness(93%) contrast(92%);
    // filter: invert(72%) sepia(13%) saturate(7123%) hue-rotate(69deg) brightness(99%) contrast(60%);
    width: 16px;
    margin-right: 10px;
  }
}