.game {
  display: flex;
  justify-content: space-between;
  padding: 0 0 30px 0;

  &__wrapper {
    height: 30vh;
    width: 81%;
    background: rgba(0, 0, 0, 0.3);
    border: solid 10px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    padding: 0 15px;
  }

  &__title {
    color: rgba(255, 255, 255, .3);
    font-size: 45px;
    margin: 0;
    font-weight: 400;
    text-align: center;
    padding: 20px 30px 0 30px;
  }

  &__level {
    width: 10%;
    height: 30vh;
    background: rgba(0, 0, 0, 0.3);
    border: solid 10px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    padding: 0 15px;
  }
}

.table {
  transform: translate3d(0, 0, 0);
  perspective: 400px;
  text-align: center;
  position: relative;
  padding-top: 15px;
  margin-bottom: 50px;

  &__wrapper {
    margin-top: 10px;
    transform: rotateX(20deg);
    max-height: 142px;
    transform-origin: bottom;
    z-index: 9999;
    position: relative;
    margin: 10px auto 0 auto;
    width: 250px;
  }

  &__surface {
    box-shadow: 0px 40px 10px rgba(0, 0, 0, .2);
    background: #dd992d;
    background: -webkit-linear-gradient(#dd992d, #cd8c26);
    background: linear-gradient(#dd992d, #cd8c26);
    position: absolute;
    height: 100%;
    bottom: 0;
    width: 100%;
  }

  &__area {
    transform-style: preserve-3d;
    outline: solid 1px transparent;
    margin: 0px auto 0px auto;
    min-height: 142px;
    padding: 15px 15px 22px 15px;
    display: inline-block;
    z-index: 999;
    position: relative;
    white-space: nowrap;
  }

  &__edge {
    width: 250px;
    margin: 0 auto 10px auto;
    background: #ac741c;
    height: 15px;
    transform: rotateX(-40deg);
    transform-origin: top;
  }

  &__leg {
    width: 24px;
    height: 10px;
    background: #84570f;
    position: absolute;
    top: 15px;
  }

  &__leg--left {
    left: 20px;
  }

  &__leg--right {
    right: 20px;
  }
}

.level {
  &__title {
    margin-bottom: 10px;
  }

  &__name {
    display: flex;
    line-height: 1.4;
    cursor: pointer;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }

    &.active {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &__checkmark {
    content: url('../../../assets/checkmark.svg');
    filter: invert(43%) sepia(10%) saturate(171%) hue-rotate(355deg) brightness(93%) contrast(92%);
    // filter: invert(72%) sepia(13%) saturate(7123%) hue-rotate(69deg) brightness(99%) contrast(60%);
    width: 16px;
    margin-right: 10px;
  }
}