// Заголовки, общие БЄМ блоки и проче...
.button {
    font-family: $georgiaFontFamily;
    font-size: 1.0625rem;
    line-height: 1.375rem;
    letter-spacing: 0.06em;
    color: $buttonColor;

    padding: .8125rem 2.8125rem;
    background: $primaryColor;
    border-radius: 100px;

    transition: background-color 0.3s ease;

    @media (any-hover: hover) {
        &:hover {
            background-color: $primaryColorHover;
        }
    }

    &--outline {
        border: 2px solid $primaryColor;
        background: $whiteColor;

        @media (any-hover: hover) {
            &:hover {
                border: 2px solid $primaryColorHover;
            }
        }
    }
}

.title {
    font-family: $georgiaFontFamily;
    font-size: 2.1875rem;
    line-height: 2.8125rem;
    letter-spacing: 0.06em;
    color: $titleColor;

    @media (max-width:$tablet) {
        font-size: 35px;
        line-height: 45px;
    }

    @media (max-width:$mobile) {
        font-size: 25px;
        line-height: 32px;
    }
}