.header {
	.pets & {
		background: $whiteColor;
	}

	// .header__container

	&__container {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
		padding-bottom: 30px;

		@media (max-width:$burger) {
			align-items: center;
		}
	}

	// .header__logo

	&__logo {}

	// .header__nav

	&__nav {
		display: flex;
	}
}